---
import ProjectItem from "@/components/projects/ProjectItem.astro";
import Arrow from "@/shared/components/Arrow.astro";
import HeaderSection from "@/shared/components/HeaderSection.astro";
import { PROJECTS } from "@/consts/projects";
import { useT } from "@/i18n/utils";
const t = useT();
---

<section id="projects" class="max-w-6xl mx-auto my-20 text-content">
	<Arrow color="gold" />
	<div class="flex flex-col items-center justify-center">
		<HeaderSection title="projects.title" />
		<div class="flex justify-center 2xl:w-[125%] my-5 mt-20">
			<div class="flex flex-wrap justify-center w-full xl:gap-x-3 2xl:gap-x-5">
				{
					PROJECTS.map(
						({ id, nombre, link, download, github, descripcion, lenguajes, usos }, index) => (
							<ProjectItem
								index={index}
								id={id}
								nombre={nombre}
								download={download}
								link={link}
								github={github}
								descripcion={descripcion}
								lenguajes={lenguajes}
								usos={usos}
							/>
						),
					)
				}
			</div>
		</div>
	</div>
</section>

<script>
	function delayClass(index: number): string {
		const base = "delay-0";

		const mdIndex = index % 2;
		const md = mdIndex === 0 ? "md:delay-0" : "md:delay-150";

		const lgIndex = index % 3;
		const lg = lgIndex === 0 ? "lg:delay-0" : lgIndex === 1 ? "lg:delay-150" : "lg:delay-300";

		return `${base} ${md} ${lg}`;
	}

	function applyDelayClass() {
		const $projectArticles = document.querySelectorAll("article.project-item");

		$projectArticles.forEach((projectArticle, index) => {
			projectArticle.classList.add(...delayClass(index).split(" "));
		});
	}
	document.addEventListener("DOMContentLoaded", applyDelayClass);
</script>
