---
import ContactModal from "@/components/modals/ContactModal.astro";
import Section from "@/components/sections/Section.astro";
import AboutMeItem from "@/features/about-me/AboutMeItem.astro";
import { getAge, useT } from "@/i18n/utils";

const t = useT();

const age = getAge();

const aboutMe = [
	{
		icon: "fa-solid fa-user",
		title: "about-me.info-1.title",
		description: "about-me.info-1.description",
	},
	{
		icon: "fa-solid fa-code",
		title: "about-me.info-2.title",
		description: "about-me.info-2.description",
	},
	{
		icon: "fa-solid fa-envelope",
		title: "about-me.info-3.title",
		description: "about-me.info-3.description",
		onButton: true,
	},
];
---

<Section id="about-me">
	<div class="flex flex-wrap justify-center w-full mt-10">
		{
			aboutMe.map(({ icon, title, description, onButton }, index) => (
				<AboutMeItem
					icon={icon}
					title={title}
					description={description}
					onButton={onButton}
					age={age}
				/>
			))
		}
	</div>
</Section>

<ContactModal />

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const contactButtons = document.querySelectorAll("[data-action='open-contact-modal']");
		contactButtons.forEach((button) => {
			button.addEventListener("click", () => {
				const contactModal = document.getElementById("contact-modal") as HTMLDialogElement;
				if (contactModal) {
					contactModal.showModal();
					document.body.style.overflow = "hidden";
				}
			});
		});
	});
</script>
