---
import Carrousel from "@/components/Carrousel.astro";
import ImageModal from "@/components/modals/ImageModal.astro";
import Subsection from "@/components/sections/Subsection.astro";
import { CERTIFICATIONS } from "@/data/certifications";
import CertificationItem from "@/features/skills/CertificationItem.astro";
import { useT } from "@/i18n/utils";

const t = useT();
---

<Subsection title="skills.certifications.title">
	<Carrousel id="certifications" itemHalfWidth="9rem">
		{
			CERTIFICATIONS.map(({ image, title, issuer, date, verifyUrl }) => (
				<div class="snap-center shrink-0 w-[min(300px,_calc(100%-1rem))] sm:w-72">
					<CertificationItem
						image={image}
						title={title}
						issuer={issuer}
						date={date}
						verifyUrl={verifyUrl}
					/>
				</div>
			))
		}
	</Carrousel>
</Subsection>

<ImageModal id="cert-modal" triggerAttr="data-cert-image" titleAttr="data-cert-title" />
