---
import { useT } from "@/i18n/utils";

const t = useT();
const { index, lugar, puesto, tiempo, descripcion } = Astro.props;

function delayClass(index: number) {
	if (index === 0) return "md:delay-300";
	if (index === 1) return "md:delay-150";
	return "md:delay-0";
}
---

<div class=`min-h-[312px] w-[80%] md:w-[45%] lg:w-[31%] ${delayClass(index)}` data-aos="fade-right">
	<article
		class="bg-background flex flex-col items-center border-2 border-neon rounded-[25px]
					hover:scale-105 hover:bg-hover transition font-content h-full"
	>
		<div
			class="border-b-2 border-neon h-[25%] w-full flex flex-col justify-center items-center py-4"
		>
			<h1 class="font-bold text-neon text-[24px]">{lugar}</h1>
			<h2 class="text-[16px]" data-translate={puesto}>{t(puesto as keyof typeof t)}</h2>
			<small class="text-[12px] opacity-75" data-translate={tiempo}
				>{t(tiempo as keyof typeof t)}</small
			>
		</div>
		<div class="p-4 leading-normal min-h-[60px]">
			<span class="text-center text-[14px]" data-translate={descripcion}
				>{t(descripcion as keyof typeof t)}</span
			>
		</div>
	</article>
</div>
