---
import ExperienceItem from "@/components/Items/ExperienceItem.astro";
import Arrow from "../components/Arrow.astro";
import HeaderSection from "../components/HeaderSection.astro";
import { useT } from "../i18n/utils";

const t = useT();

const EXPERIENCE = [
	{
		lugar: "Riviera",
		puesto: "experience.exp-1.rol",
		tiempo: "experience.exp-1.time",
		descripcion: "experience.exp-1.description",
	},
	{
		lugar: "Espol (MIDI)",
		puesto: "experience.exp-2.rol",
		tiempo: "experience.exp-2.time",
		descripcion: "experience.exp-2.description",
	},
	{
		lugar: "Solinal",
		puesto: "experience.exp-3.rol",
		tiempo: "experience.exp-3.time",
		descripcion: "experience.exp-3.description",
	},
];
---

<section id="experience" class="max-w-6xl mx-auto my-20 text-content">
	<Arrow color="gold" />
	<div class="flex flex-col items-center justify-center">
		<HeaderSection title="experience.title" />
		<div class="flex flex-wrap justify-center w-full gap-5 mt-10">
			{
				EXPERIENCE.reverse().map(({ lugar, puesto, tiempo, descripcion }, index) => (
					<ExperienceItem
						index={index}
						lugar={lugar}
						puesto={puesto}
						tiempo={tiempo}
						descripcion={descripcion}
					/>
				))
			}
		</div>
	</div>
</section>

<script>
	function delayClass(index: number): string {
		const base = "delay-0";

		const mdIndex = index % 2;
		const md = mdIndex === 0 ? "md:delay-150" : "md:delay-0";

		const lgIndex = index % 3;
		const lg = lgIndex === 0 ? "lg:delay-300" : lgIndex === 1 ? "lg:delay-150" : "lg:delay-0";

		return `${base} ${md} ${lg}`;
	}

	function applyDelayClass() {
		const $experienceArticles = document.querySelectorAll("div.experience-item");
		console.log($experienceArticles);

		$experienceArticles.forEach((experience, index) => {
			experience.classList.add(...delayClass(index).split(" "));
		});
	}
	document.addEventListener("DOMContentLoaded", applyDelayClass);
</script>
