---
import ProjectItem from "@/components/Items/ProjectItem.astro";
import Arrow from "../components/Arrow.astro";
import HeaderSection from "../components/HeaderSection.astro";
import { PROJECTS } from "../consts/projects";
import { useT } from "../i18n/utils";

const t = useT();
---

<section id="projects" class="max-w-6xl mx-auto my-20 text-content">
	<Arrow color="gold" />
	<div class="flex flex-col items-center justify-center">
		<HeaderSection title="projects.title" />
		<div class="flex justify-center 2xl:w-[125%] my-5 mt-20">
			<div class="flex flex-wrap justify-center w-full xl:gap-x-3 2xl:gap-x-5">
				{
					PROJECTS.map(({ id, nombre, link, github, descripcion, lenguajes, usos }, index) => (
						<ProjectItem
							index={index}
							id={id}
							nombre={nombre}
							link={link}
							github={github}
							descripcion={descripcion}
							lenguajes={lenguajes}
							usos={usos}
						/>
					))
				}
			</div>
		</div>
	</div>
</section>
